.header__user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__user-menu-item {
  margin: 0 0 0 30px;
  padding: 14px 0;
}

.header__user-menu-item_active {
  border-bottom: 1px solid #fff;
}
