.table__controll {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0;
  padding: 0;
  width: 24px;
  background-color: inherit;
  border-radius: 6px;
  list-style: none;
  overflow: hidden;
}

.table__controll_open {
  padding: 1px 2px 0 2px;
  top: 0;
  left: 0;
  width: fit-content;
  background-color: #414144;
}

.table__controll_2 {
  margin-left: 12px;
}

.table__controll_3 {
  margin-left: 24px;
}

.table__control-item {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
}
