.aside__header {
  margin: 0;
  padding: 8px 0 8px 20px;
  border: 1px solid #414144;
  border-left: none;
  box-sizing: border-box;
}

.aside__header-title {
  margin: 0;
  padding: 0;
  color: #a1a1aa;
  font-size: 14px;
  line-height: 1.2;
}

.aside__header-notion {
  margin: 0;
  padding: 0;
  color: #a1a1aa;
  font-size: 10px;
  line-height: 1.2;
}
