.table {
  margin: 0 auto;
  padding: 0;
  width: 99%;
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  box-sizing: border-box;
  border-collapse: collapse;
}

.table__data {
  position: relative;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  border-collapse: collapse;
  border-bottom: 1px solid #414144;
  box-sizing: border-box;
}

.table__input {
  padding: 3px 9px 6px 9px;
  color: #71717a;
  font-size: 14px;
  line-height: 1.3;
  width: 100%;
  background-color: inherit;
  border: 1px solid #414144;
  border-radius: 6px;
  box-sizing: border-box;
}

.table__input_error {
  border-color: red;
}

.table__input_error::placeholder {
  color: red;
}

.level {
  width: 250px;
}

.name {
  width: 44.89%;
  max-width: 757px;
}

.value {
  width: 11.85%;
  max-width: 200px;
}

.second-level {
  margin-left: 12px;
}

.third-level {
  margin-left: 24px;
}

.table__label {
  position: relative;
}
